@*@model IEnumerable<ProductCardVM>*@
@{

}

@*@foreach(var item in Model)
{
    <div class="card bg-transparent border-0 col">
        <a href="#" class="text-decoration-none">
            <div class="card-head">
                <img src="@item.ProductPhoto" class="w-100">
                <span class="city card-img-overlay text-light fw-bolder">
                    <i class="fa-solid fa-location-dot me-1"></i>
                    @item.CityName
                    <i class="fa-regular fa-heart ms-auto"></i>
                </span>
            </div>
            <div class="card-body px-0">
                <h4 class="card-title fw-bolder">@item.ProductName</h4>
                @foreach(var t in item.Tags)
                {
                    <span class="remind d-inline-block mb-1 rounded-3">@t</span>
                }
                <p class="score"><i class="fa-solid fa-star"></i>4.7 (124) | 400+個已訂購</p>
                <div class="card-footer border-0 px-0">
                    <span class="d-block text-decoration-line-through">TWD <strong class="fw-bold">@item.OriginalPrice</strong></span>
                    <span class="d-block">TWD <strong class="fw-bold">@item.Price</strong></span>
                </div>
            </div>
        </a>
    </div>
}*@

@section topCSS{
    @*將 css 連結複製到 主要的 Partial 版面*@
    <link rel="stylesheet" href="~/css/card.css"/>
}