  <div class="Parent-child-hotel-banner" style="background-image:url(@ViewData["banner-img"]);">
    <div class="container p-0 " >
      <h2 class="Parent-child-banner-h2 fs-2 fw-bold text-white text-md-center ">@ViewData["banner-h2"]</h2>
      <p class="Parent-child-banner-p text-white  text-md-center ">@ViewData["banner-p"]</p>
      <div class="Parent-child-search mb-3 p-1 ps-2 bg-white rounded">
        <div class="input-group row  m-0">
          <div class="btn-group col-12 col-md-5 p-0">
            <button type="button" class="btn btn-light d-flex justify-content-between align-items-center"
              data-bs-toggle="dropdown" aria-expanded="true">
              <i class="fa-solid fa-location-dot "> <span class=" ms-2 text-black fw-normal">@ViewData["banner-location-word"]</span></i>
              <span class="show-city"><span class="ms-2 fa-solid fa-caret-down opacity-25"></span></span>
            </button>
            <ul class="dropdown-menu w-100 hotel_banner_city">
              <li class="col-3 d-inline-block m-2 ">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">基隆</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">澎湖</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">小琉球</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">蘭嶼</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">綠島</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">宜蘭</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">花蓮</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">台東</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">屏東</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">墾丁</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">高雄</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">台南</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">嘉義</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">雲林</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">南投</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">彰化</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">台中</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">苗栗</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">新竹</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">桃園</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">台北</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">新北</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">金門</button>
              </li>
              <li class="col-3 d-inline-block m-2">
                <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">馬祖</button>
              </li>
            </ul>
          </div>
          <div class="btn-group col-12 col-md-5 p-0">
            <button class="fa-regular fa-calendar btn btn-outline-white text-dark border-end  d-flex justify-content-between align-items-center" type="button" >
               @ViewData["banner-date-word"]</span></i><input type="button" name="datefilter" value="" class="fa-regular fa-calendar btn btn-outline-white text-dark flex-grow-1 fs-6 fw-bolder" placeholder="篩選出發日期"><span
                class="pick-car"></span><span class="fa-solid fa-caret-down opacity-25"></span>
           
            </button>
          </div>
          <button class="col-12 col-md-2   btn text-white btn-info  border rounded-end TaiconfirmBtn" type="button"
            ><i class="fa-solid fa-magnifying-glass search-icon"></i>搜尋</button>
        </div>
      </div>

      <div class="Parent-child-collapse-search rounded-pill w-75 m-auto">
        <button class="btn btn-light w-100 rounded-pill" data-bs-toggle="modal" data-bs-target="#hotel-ModalFullscreen"><i class="fa-solid fa-magnifying-glass opacity-50 pe-2"></i><span>@ViewData["collapse-search"]</span></button>
      </div>
    </div>
  </div>

  <div class="modal fade " id="hotel-ModalFullscreen" tabindex="-1" aria-labelledby="ModalBanner"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
          <div class="container modal-header d-flex justify-content-between align-items-center p-2">
              <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
              <p class="fw-bold m-0">搜尋</p>
              <a class="modal-title m-0 text-decoration-none text-black-50"
                  id="ModalBanner" data-bs-dismiss="modal">關閉</a>
          </div>
          <div class="modal-body">
            <div class="container">
              <p class="d-inline-block pt-2 pe-2">你要去哪裡玩?</p>
              <ul class="d-flex justify-content-center flex-wrap">
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">基隆</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">澎湖</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">小琉球</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">蘭嶼</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">綠島</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">宜蘭</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">花蓮</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">台東</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">屏東</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">墾丁</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">高雄</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">台南</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">嘉義</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">雲林</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">南投</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">彰化</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">台中</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">苗栗</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">新竹</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">桃園</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">台北</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">新北</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">金門</button>
                </li>
                <li class="col-2  col-md-1 d-inline-block m-2 ">
                  <button type="button" class="btn btn-outline-info rounded-pill w-100 ps-0 pe-0" id="choose-city">馬祖</button>
                </li>
              </ul>
                <div class="filter-group date rounded ">
                    <div class="filter-block mt-3">
                        <div class="accordion-item">
                            <div class="input-group p-2 mb-3">
                                <label for="" class="w-100">
                                    <button class="fa-regular fa-calendar btn btn-outline-white text-dark border-end p-3 " type="button" name="datefilter">
                                        <!-- <i class="fa-regular fa-calendar"> -->
                                    </button>
                                    <input type="button" name="datefilter" value="篩選出發日期" class="fa-regular fa-calendar btn btn-outline-white text-dark flex-grow-1 fs-6 fw-bolder" placeholder="篩選出發日期">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-info col-12 text-white TaiconfirmBtn">確認</button>
                  <button type="button" class="btn btn-secondary col-3" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
  </div> 