@*@model Today.Web.ViewModels.ProductVM*@

@foreach(var item in Model)
{
    <div class="swiper-slide productcard px-1">
        <div class="fixed-card mx-2 h-100">
            <a href="~/Product/ProductInfo/@item.Id" class="text-decoration-none text-black">
                <div class="bundle position-relative overflow-hidden" style="height: 153px;">
                    @*<span class="location-tag position-absolute text-white"><i class="fa-solid fa-location-dot me-2"></i>@item.CityName</span>
                    <span class="heart position-absolute text-white"><i class="fa-regular fa-heart"></i></span>*@
                    <img data-src="@item.ProductPhoto" class="card-img-top rounded w-100 h-100 swiper-lazy" alt="@item.ProductName">
                </div>
                <div class="card-body px-0">
                    <h4 class="card-text overflow-hidden">@item.ProductName</h4>
                    <div class="card-tag mb-2 d-flex flex-wrap">
                        @foreach(var t in item.Tags)
                        {
                            <span title="@t" class="tag px-2 py-1 me-2 my-1 rounded">@t</span>
                        }
                    </div>
                    <div class="card-product-review mb-2 d-flex">
                        <span class="px-1 border-end border-secondary">
                            <i class="fa-solid fa-star"></i>@item.Rating (@(item.TotalGiveComment))
                        </span>
                        <span class="px-1">
                            @(item.TotalOrder) 個已訂購
                        </span>
                    </div>
                    <div class="card-product-price d-flex">
                        <span class="text-decoration-line-through p-1 text-black @(item.OriginalPrice == null ? "d-none" : "d-flex flex-nowrap") fw-bolder">TWD @item.OriginalPrice</span>
                        <span class="p-1 text-black @(item.Price == null ? "d-none" : "d-flex flex-nowrap") fw-bold">TWD<span class="fw-bolder">@item.Price</span></span>
                    </div>
                </div>
            </a>
            <span class="location-tag position-absolute text-white"><i class="fa-solid fa-location-dot me-2"></i>@item.CityName</span>
            <span class="heart position-absolute text-white"><i class="@(item.Favorite == true ? "fa-solid" : "fa-regular") fa-heart"></i></span>
        </div>
    </div>
}
@section topCSS{
    <link rel="stylesheet" href="~/css/newcard.css"/>
}