@model Today.Web.ViewModels.RaiderVM



<div class="raiders-group">
    <div class="raiders-banner-video ">
        @*<iframe src="https://www.youtube.com/embed/gUI-XxHhphE" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>*@
            @Html.Raw(@Model.RaiderPage.Video)
    </div>
    <div class="container">
        <div class="raiders-text row d-flex justify-content-center  mx-2 ">
            <div class="raiders-text-title col-md-8 d-flex px-0">

                <h2 class="fw-bolder ">@Model.RaiderPage.Title</h2>
            </div>
            <div class="raiders-text-info col-md-8 px-0">
                <p class="fw-bolder">@Html.Raw(@Model.RaiderPage.Text)</p>
                <p>-</p>
               
            </div>
            <p><br></p>
            <p><br></p>
            <p><br></p>

        </div>
        <div class="more-product row justify-content-center">
            <h3 class=" my-5 fw-bolder col-md-8">更多推薦行程</h3>

            <div class="more-product-card col-md-8">
                <!-- 卡牌區 -->
            </div>
        </div>
    </div>
</div>

@section topCSS{
    <link rel="stylesheet" href="~/css/CityRaiders.css" />
    <style>
        body{
            margin: 0;
        }
        footer ul li{
            list-style: none;
               
        }
        footer ul{
            padding-left: 0px;
        }
    </style>
}
