
@model Today.Web.ViewModels.CityVM


<!-- 導覽列 -->
  
    <div class="city-group">
        <div class="city-banner">
            <img src="@Model.CurrentCityInfo.CityImage " class="city-img">

        </div>
        <div class="city-body container row d-flex position-relative m-auto px-0 ">
            <div class="city-title col-12 px-4 text-xl-center mb-xl-5">
                <h2 class="text-light">@Model.CurrentCityInfo.CityName</h2>
                <p class="text-light ">2022@(Model.CurrentCityInfo.CityName)熱門自由行推薦景點行程</p>
            </div>
            <!-- 分類按鈕 -->
            <div class="city-type-wrap  justify-content-evenly ">
                <ul class="row list-unstyled  bg-white rounded-3">
                    <li class="col-3 px-3 pt-4 col-xl px-xl-3">
                        <div class="city-type text-center">
                            <a href="~/Product/Classify" class="text-decoration-none text-center">
                                <i class="icofont-air-ticket"></i>
                                <br>
                                <p class="mt-2">景點門票</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4 col-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/Classify" class="text-decoration-none">
                                <i class="icofont-direction-sign"></i>
                                <br>
                                <p class="mt-2">活動&展覽 </p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4 col-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/Classify" class="text-decoration-none">
                                <i class="icofont-hill-side"></i>
                                <br>
                                <p class="mt-2">戶外活動</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4 col-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/Classify" class="text-decoration-none">
                                <i class="icofont-bathtub"></i>
                                <br>
                                <p class="mt-2">紓壓&放鬆</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4 col-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/DIY" class="text-decoration-none">
                                <i class="icofont-tea-pot"></i>
                                <br>
                                <p class="mt-2">工作訪&在地文化</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4 col-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/Classify" class="text-decoration-none">
                                <i class="icofont-air-balloon"></i>
                                <br>
                                <p class="mt-2">觀光行程</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4 col-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/Classify" class="text-decoration-none">
                                <i class="icofont-broccoli"></i>
                                <br>
                                <p class="mt-2">美食&生鮮</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4  col-xl city-type-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/HSRClassify" class="text-decoration-none">
                                <i class="icofont-train-line"></i>
                                <br>
                                <p class="mt-2">交通</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4  col-xl city-type-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/Classify" class="text-decoration-none">
                                <i class="icofont-hotel"></i>
                                <br>
                                <p class="mt-2">住宿</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4  col-xl city-type-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/Classify" class="text-decoration-none">
                                <i class="icofont-smart-phone"></i>
                                <br>
                                <p class="mt-2">Wi-Fi&<br>SIM卡</p>
                            </a>
                        </div>
                    </li>
                    <li class="col-3 px-3 pt-4  col-xl">
                        <div class="city-type text-center">
                            <a href="~/Product/Classify" class="text-decoration-none">
                                <i class="icofont-map"></i>
                                <br>
                                <p class="mt-2">所有活動</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 路徑 -->
            <div class="city-web-path ">
                <ul class="list-unstyled d-flex mx-3">
                    <li class="me-2">
                        <a herf="#">首頁 </a>
                    </li>
                    <li class="me-2">
                        <a herf="#">台灣 </a>
                    </li>
                    <li class="me-2">
                        <a herf="#">@(Model.CurrentCityInfo.CityName) </a>
                    </li>
                </ul>
            </div>
            <section class="px-0">
                <!-- 人氣top10卡片 -->
                <h3 class="mx-4 my-3 fw-bolder">人氣Top10</h3>
                 <div class="city-Featured-silder d-flex mt-4 mx-2 position-relative">
                    <div class="swiper mySwiper">
                        <div class="city-Featured-card d-flex w-100 swiper-wrapper">
                            <partial name="CardPartial/_Top10CardPartial" for="TopActiviyList"/>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                       
                <!-- 為你精選台北相關行程 -->
                <h3 class="mx-4 my-3 fw-bolder">為你精選@(Model.CurrentCityInfo.CityName)相關行程</h3>
                <div class="city-Featured-silder d-flex mt-4 mx-2 position-relative">
                    <div class="swiper mySwiper">
                        <div class="city-Featured-card d-flex w-100 swiper-wrapper">
                            <partial name="CardPartial/_NewCardPartial" for="AboutActiviyList"/>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <!-- 最新上架 -->
                <h3 class="mx-4 my-3 fw-bolder">最新上架</h3>
                <div class="city-Featured-silder d-flex mt-4 mx-2 position-relative">
                    <div class="swiper mySwiper">
                        <div class="city-Featured-card d-flex w-100 swiper-wrapper">
                            <partial name="CardPartial/_NewCardPartial" for="NewActiviyList"/>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="city-btn-wrap d-flex justify-content-center">
                    <a href="#" type="button" class="back-to-top city-all-btn btn btn-light mb-3">查看所有@(Model.CurrentCityInfo.CityName)體驗活動</a>
                </div>
                <!-- 旅遊攻略 -->
                <h3 class="mx-4 my-3 fw-bolder">@(Model.CurrentCityInfo.CityName)旅遊攻略</h3>
                <div class="city-Raiders-silder d-flex mt-4">
                    <div class="swiper mySwiper">
                        <div class="city-Raiders-card d-flex w-100 swiper-wrapper">
                            @foreach(var raider in Model.RaiderList)
                            {
                                <div class="swiper-slide px-1">
                                    <a href="~/Product/CityRaiders/@raider.RaiderId" class="text-decoration-none h-100">
                                        <div class="card">
                                            <img src="@raider.photo" class="card-img-top" alt="@raider.Title">
                                            <div class="city-Raiders-card-span d-flex position-relative ">
                                                <span class="Raiders-imgtitle ">@raider.SubTitle</span>
                                            </div>
                                            <div class="city-Raiders-card-body card-body px-0 d-flex position-relative">
                                                <h4 class="card-text overflow-hidden">@raider.Title</h4>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                   
                </div>
                <!-- map -->
                <div class="city-about-title ms-4">
                    <h3 class="fw-bolder">認識 @(Model.CurrentCityInfo.CityName)</h3>
                </div>
                <div class="city-map-about-group d-flex flex-wrap flex-lg-nowrap mb-5">
                    <div class="city-aboutcity-wrap col-12 col-md-8 m-3">
                        <div class="city-about-text bg-white p-3 rounded-3">
                            <p>@Model.CurrentCityInfo.CityIntrod</p>
                            <hr>
                            <p><i class="icofont-clock-time"></i> 時區 : GMT+8</p>
                            <p><i class="icofont-money"></i> 貨幣：台幣 NTD</p>
                            <p><i class="icofont-plugin"></i> 電壓：110 伏特 / 60 赫茲</p>
                        </div>
                    </div>
                    <div class="city-map-wrap  overflow-hidden col-12 col-md-4 m-3 position-relative">
                        <a class="d-inline-block h-100" data-bs-toggle="modal" data-bs-target="#map-modal">
                            <img src="https://cdn.kkday.com/pc-web/assets/img/bg_map.jpg"
                                class="card-img rounded-3 align-top w-100 h-100 " alt="...">
                            <div class="city-whach-map position-absolute">
                                <p class="city-whach-map-title">看地圖搜尋@(Model.CurrentCityInfo.CityName)體驗活動</p>
                                <p class="city-whach-map-text">點擊前往 ></p>

                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section>
                <!-- 留言區 -->
                <div class="city-Evaluation-wrap mx-2 d-flex flex-wrap">
                    @foreach(var comment in Model.CommentList)
                    {
                        <div class="city-card-eva col-md-6 px-md-2">
                            <div class="card w-100 mb-2 bg-white p-1 rounded-3 pt-3 col">
                                <div class="card-people-info d-flex p-2">
                                    <img src="https://res.cloudinary.com/dtopk4fwn/image/upload/v1659535849/EndSars/Today/dxup4caic8ovbslwtdhq.jpg" class="people-img rounded-circle">
                                    <p class="align-items-center my-auto mx-2">@comment.Name</p>
                                </div>
                                <div class="city-evaluation-star my-3 px-2">
                                    <i class="icofont-favourite"></i>@(comment.RatingStar) · 體驗日期@(comment.UseDate) @(comment.PartnerType)
                                </div>
                                <div class="city-evaluaation-a mb-3 px-2">
                                    <a href="~/Product/ProductInfo/@(comment.ProductId)">@comment.ProductName</a>
                                </div>
                                <div class="card-body">
                                    <p class="card-title fw-bolder">@comment.Title</p>
                                    <p class="card-text">@comment.Text</p>
                                    <p class="card-text"><small class="text-muted">於@(comment.CommentDate) 評價</small></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
            <!-- 探索周邊城市 -->
            <section class="px-0">
                <div class="city-explore-wrap">
                    <h3 class="mx-4 my-3 fw-bolder">探索@(Model.CurrentCityInfo.CityName)周邊城市</h3>
                    <div class="city-explore-silder d-flex mt-4 position-relative">
                        <div class="city-Featured-card d-flex w-100">
                            <div class="swiper nearbycity-Swiper">
                                <div class="city-explore-card swiper-wrapper">
                                    @foreach(var citycard in Model.CityCardsList)
                                    {
                                        <div class="swiper-slide px-1">
                                            <a href="~/Product/CityTour/@citycard.Id" class="text-decoration-none mx-2">
                                                <div class="card position-relative">
                                                    <img src="@citycard.CityImage" class="card-img-top" alt="@citycard.CityName">
                                                    <div class="city-explore-card-span d-flex position-absolute">
                                                        <span class="explore-imgtitle ">@citycard.CityName</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                      
                    </div>
                    
                </div>
            </section>
            
        </div>
    </div>
    <partial name="_MapModalPartial"></partial>

@section topCSS{
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/CityTour.css" />
    <link rel="stylesheet" href="~/css/newcard.css"/>

    @*<link rel="stylesheet" href="~/css/reset.css" />*@
    <style>
        .card-people-info img{
            width:40px;
            height:40px;
        }
        body{
            margin: 0;
        }
        footer ul li{
            list-style: none; 
        }
        footer ul{
            padding-left: 0px;
        }
        .city-Raiders-card-body h4{
            color: #000;
        }

        .navbar-nav p{
            margin: 0;
            text-align: start;
        }
        @@media screen and (min-width: 360px){
   
            .city-type-xl{
                display: none;
            }
        }
        @@media screen and (min-width: 1024px){
            .user-info p{
                margin: 0;
                text-align: start;
            }
        }
        @@media screen and (min-width: 1200px){
            .city-type-xl{
                display: block;
            }
        }
           
    </style>
     <link rel="stylesheet" href="~/css/google-map.css">
}
@section endJS{
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script>
        let json_location = @Html.Raw(@ViewData["locationJson"]); //將 json純文字 解碼 成 js的json
        let json_city_location = @Html.Raw(@ViewData["locationCityJson"]); //將 json純文字 解碼 成 js的json
   </script>
    <script src="~/js/google-map.js"></script>
   
    <script src="~/js/collection.js"></script>
}


