@model MemberCommentVM
@{
    ViewData["MemberPage"] = "OrderManage";
}
@section topCSS{
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/orderManage.css">
}

    <div class="container">
        <div class="row bigrow">
            <partial name="MemberPartial/_MemberLeftPartial" for="MemberName"></partial>
            @*<div class="col-12 col-lg-3 aside">
                <div class="page-aside">
                    <div class="card aside-box">
                        <div class="editor-logo">
                            <img class="rounded-circle" src="https://i.pinimg.com/564x/da/43/ce/da43ce9051ba362be3755ba38fc4936e.jpg">
                            <div class="icon-bg rounded-circle">
                                <i class="fa-solid fa-camera"></i>
                            </div>
                        </div>
                        <div class="aside-box-text name">@Model.MemberName</div>
                        <hr>
                        <div class="account-group">
                            <div class="account d-flex">
                                <img class="channel-icon" src="https://cdn.kkday.com/pc-web/assets/img/sns/google.svg"
                                 alt="">
                                <div class="channel-name flex-grow-1">
                                    <div>Google</div>
                                </div>
                                <i class="icofont-check-circled text-info"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="card page-menu">
                        <li class="list-item active">
                            <div class="list-item-text">
                                <i class="icofont-gear-alt"></i>
                                <a href="~/Member/CountSetting">帳號設定</a>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-item-text d-flex">
                                <i class="icofont-ticket"></i>
                                <a class="flex-grow-1" href="~/Member/Coupon">Today折扣卷</a>
                                <span class="text-warning">0</span>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-item-text">
                                <i class="icofont-ui-file"></i>
                                <a href="~/Member/OrderManage">訂單管理</a>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-item-text">
                                <i class="icofont-ello"></i>
                                <a href="~/Member/MessageManage">訊息管理</a>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-item-text">
                                <i class="icofont-hype-machine"></i>
                                <a href="~/Member/MyCollect">我的收藏</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>*@

            <div class="col-12 col-lg-9 text">
                <div class="card order-card">
                    <div class="page-head">
                        <h2>訂單管理</h2>
                    </div>

                    <!-- 無訂單 -->
                    <div class="page-text d-none">
                        <div class="order-group">
                            <div class="order">
                                <div class="order-text">
                                    <img src="https://cdn.kkday.com/pc-web/assets/img/empty_state/order_list.svg"
                                     width="140" height="140">
                                    <h4>查無訂單資料！</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 有訂單，JS動態生成卡片 -->
                    <div class="page-text-dynamic">
                        <!-- 有折扣 -->
                        @*@foreach(var comm in Model.OrderDtailList)*@
                        @*{*@

                        @*}*@
                    </div>
                        </div>
                </div>
            </div>
    </div>




    <template id="template-card">
        <div class="card card_detail shadow bg-body rounded">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="pic h-100">
                        <img class="img-fluid w-100 h-100 m-auto comm-path"
                         src="">@*comm.Path*@
                    </div>
                </div>

                <div class="col-md-8 rounded-3">
                    <div class="text h-100">
                        <div class="togo">
                            <span class="d-inline-block bg-info">已出發</span>
                        </div>

                        <h2 class="card-title lh-base comm-productname">@*@comm.ProductName*@</h2>
                        <p class="card-text overflow-hidden lh-base pb-2 comm-title">
                            <i class="icofont-briefcase"></i>
                            @*@comm.Title*@
                        </p>

                        <p class="card-text lh-base comm-orderid pb-2">
                            <i class="icofont-tag"></i>
                            訂單編號：#@*@comm.OrderId*@
                        </p>

                        <div class="order-main-goday lh-base disabled">
                            <div class="day px-2">
                                @*<div class="mon">Aug</div>*@
                                <div class="day">@*@comm.DepartureDate.GetDateTimeFormats('M')[0].ToString()*@</div>
                            </div>
                        </div>
                        <div class="footer d-flex flex-wrap position-relative justify-content-between">
                            <div class="TWD mt-1 lh-base">TWD @*@comm.UnitPrice*@</div>
                            <button type="button" id="commitBtn" class="btn btn-white text-dark comment shadow-none p-0"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="icofont-notepad"></i>
                                給予評論
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </template>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">旅客評論</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="rating">
                        @*@for (int i = 5; i >= 1; i--)
                    {
                    <input type="radio" class="star" name="rating" value="@i" hidden />
                    <label for="star"></label>
                    }*@
                        <input type="radio" id="star5" class="star" name="rating" value="5" hidden />
                        <label for="star5"></label>
                        <input type="radio" id="star4" class="star" name="rating" value="4" hidden />
                        <label for="star4"></label>
                        <input type="radio" id="star3" class="star" name="rating" value="3" hidden />
                        <label for="star3"></label>
                        <input type="radio" id="star2" class="star" name="rating" value="2" hidden />
                        <label for="star2"></label>
                        <input type="radio" id="star1" class="star" name="rating" value="1" hidden />
                        <label for="star1"></label>
                    </div>
                    <p>這次旅行你是屬於哪種類別呢</p>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="family" autocomplete="off" value="1">
                        <label class="btn btn-outline-info" for="family">家庭旅遊</label>

                        <input type="radio" class="btn-check" name="btnradio" id="couple" autocomplete="off" value="2">
                        <label class="btn btn-outline-info" for="couple">情侶旅遊</label>

                        <input type="radio" class="btn-check" name="btnradio" id="personal" autocomplete="off" value="3">
                        <label class="btn btn-outline-info" for="personal">獨自出遊</label>

                        <input type="radio" class="btn-check" name="btnradio" id="friend" autocomplete="off" value="4">
                        <label class="btn btn-outline-info" for="friend">朋友旅遊</label>

                        <input type="radio" class="btn-check" name="btnradio" id="business" autocomplete="off" value="5">
                        <label class="btn btn-outline-info" for="business">商務旅客</label>
                    </div>
                    <p>評論標題</p>
                    <input id="comment-title" />
                    <p>告訴我們你的想法</p>
                    <div class="editor"></div>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger d-flex align-items-center w-100" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <div>
                            欄位不可留白
                        </div>
                    </div>
                    <p></p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-info text-white" id="btn-submit">送出</button>
                    <button type="button" class="btn btn-info text-white" id="btn-edit">修改</button>
                </div>
            </div>
        </div>
    </div>

 @section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/Ckeditor5SimpleUpload/build/ckeditor.js" type="text/javascript"></script>
    <script src="~/js/memberleftselect.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
    <script>
        //template
        let index = 0;
        let orderdetailid;
        let productid;
        let template_card = document.querySelector("#template-card")
        let page_text_dynamic = document.querySelector(".page-text-dynamic")
        let template_list = @Html.Raw(ViewData["OrderManageCard"])
        //先判斷尚無購買任何商品的情況
        if(template_list.OrderDtailList.length==0)
        {
            document.querySelector('.page-text').classList.remove("d-none")
        }
            template_list.OrderDtailList.forEach((x, index) => {
                let clone_card = template_card.content.cloneNode(true);
                clone_card.querySelector(".comm-productname").innerText = x.ProductName
                clone_card.querySelector(".comm-title").innerText = x.Title
                clone_card.querySelector(".comm-orderid").innerText = "訂單編號：#" + x.OrderId
                clone_card.querySelector(".day").innerText = x.DepartureDate.slice(0, 10)
                clone_card.querySelector(".TWD").innerText = "TWD" + x.UnitPrice
                clone_card.querySelector(".comm-path").src = x.Path
                //template:判斷已出發或未出發
                let date = new Date();
                let date1 = new Date(date.toISOString().split('T')[0]);
                let date2 = new Date(clone_card.querySelector(".day").innerText);
                if (date1 < date2) {
                    clone_card.querySelector(".togo>span").innerHTML = "未出發"
                }
                else {
                    clone_card.querySelector(".togo>span").innerHTML = "已出發"
                }
                //template:給予評論按鈕
                clone_card.querySelector("#commitBtn").addEventListener("click", () => {
                    document.querySelector('.alert-danger').classList.add("d-none")
                    console.log(x)
                    setComment(x);
                    //template:判斷客戶留言標題、富文本有無資料
                    if (x.comment.CommentTitle == null) {
                        document.querySelector("#comment-title").value = ""
                        editor.setData("");
                        document.querySelector('.alert-danger+p').innerHTML = "你的評論將提供給其他旅客參考" 
                        document.querySelector('#btn-edit').classList.add("d-none")
                        document.querySelector('#btn-submit').classList.remove("d-none")
                    }
                    else {
                        document.querySelector("#comment-title").value = x.comment.CommentTitle
                        editor.setData(x.comment.CommentText);
                        document.querySelector('.alert-danger+p').innerHTML = "上次留言時間: " + x.comment.CommentDate.substring(0, 10)+" "+x.comment.CommentDate.substring(11,16)
                        document.querySelector('#btn-edit').classList.remove("d-none")
                        document.querySelector('#btn-submit').classList.add("d-none")
                    }
                    //template:客戶留言星星評價
                    //let starList = document.querySelectorAll('input[name="rating"]');
                    //starList.forEach(radio => { radio.checked = false; })
                    //starList.forEach(starRadio => {
                    //    if (x.comment.RatingStar === parseInt(starRadio.value)) {
                    //        starRadio.checked = true;
                    //    }
                    //})
                    switch (x.comment.RatingStar) {
                        case 1:
                            document.querySelector('#star1').checked = true;
                            break;
                        case 2:
                            document.querySelector('#star2').checked = true;
                            break;
                        case 3:
                            document.querySelector('#star3').checked = true;
                            break;
                        case 4:
                            document.querySelector('#star4').checked = true;
                            break;
                        case 5:
                            document.querySelector('#star5').checked = true;
                            break;
                        default:
                            for (let i = 1; i <= 5; i++) {
                                document.querySelector('#star' + i).checked = false
                            }
                    }
                    //template:客戶留言旅伴類型
                    switch (x.comment.PartnerType) {
                        case 1:
                            document.querySelector('#family').checked = true;
                            break;
                        case 2:
                            document.querySelector('#couple').checked = true;
                            break;
                        case 3:
                            document.querySelector('#personal').checked = true;
                            break;
                        case 4:
                            document.querySelector('#friend').checked = true;
                            break;
                        case 5:
                            document.querySelector('#business').checked = true;
                            break;
                        default:
                            let array = ['family', 'couple', 'personal', 'friend', 'business']
                            for (let i = 0; i < array.length; i++) {
                                document.querySelector('#' + array[i]).checked = false
                            }
                    }
                })
                page_text_dynamic.appendChild(clone_card)
            })
        function setComment(x) {
            //改Modal (R)
            orderdetailid = x.comment.OrderDetailId;
            productid = x.comment.ProductId
            console.log(orderdetailid)
        }
        //CKeditor設定
        ClassicEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',
                ckfinder: {
                    // 使用 CKFinder QuickUpload 命令將圖像上傳到服務器
                    uploadUrl: '/api/upload',
                    // 定義 CKFinder 配置（如有必要
                    options: {
                        resourceType: 'Images'
                    }
                }
            })
            .then(editor2 => {
                window.editor = editor2;

            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: 8cnzoumsu8xz-nohdljl880ze');
                console.error(error);
            });
        //按出送出鍵
        document.querySelector("#btn-submit").addEventListener("click", function() {
            let html = editor.getData();
            let star_value = document.querySelector('.star:checked');
            let partner_type = document.querySelector('input[name="btnradio"]:checked');
            let comment_title = document.querySelector("#comment-title").value;
            if (html == "" || star_value == null || comment_title == "" || partner_type == null) {
                document.querySelector('.alert-danger').classList.remove("d-none")
                return;
            }
            let url = "/api/apicomment/CreateMemberComment";
            fetch(url, {
                headers: {
                    'Content-Type': 'application/json;'
                },
                method: "post",
                body: JSON.stringify({
                    //加入產品詳細資訊
                    RatingStar: star_value.value,
                    Partnertype: parseInt(partner_type.value, 10),
                    CommentTitle: comment_title,
                    CommentText: html,
                    MemberId: @Model.MemberId,
                    OrderDetailId: orderdetailid,
                    ProductId: productid,
                }),
            })
            .then(resp => {
            if (resp.ok) {
                    window.location.reload();
                }
                else { 
                    toastr['error']('新增留言失敗:有什麼錯誤了！');
                }
            })
        });
        //按出修改紐
        let submit_edit=document.querySelector('#btn-edit');
        submit_edit.addEventListener("click",function(){
            let html = editor.getData();
            let star_value = document.querySelector('.star:checked');
            let partner_type = document.querySelector('input[name="btnradio"]:checked');
            let comment_title = document.querySelector("#comment-title").value;
            if (html == "" || star_value == null || comment_title == "" || partner_type == null) {
                document.querySelector('.alert-danger').classList.remove("d-none")
                return;
            }
            let url = "/api/apicomment/UpdateMemberComment";
            fetch(url, {
                headers: {
                    'Content-Type': 'application/json;'
                },
                method: "post",
                body: JSON.stringify({
                    //加入產品詳細資訊
                    RatingStar: star_value.value,
                    Partnertype: parseInt(partner_type.value, 10),
                    CommentTitle: comment_title,
                    CommentText: html,
                    MemberId: @Model.MemberId,
                    OrderDetailId: orderdetailid,
                    ProductId: productid,
                }),
            })
            .then(resp => {
                if (resp.ok) {
                        window.location.reload();
                    }
                    else { 
                        toastr['error']('修改留言失敗:有什麼錯誤了！');
                    }
            })
        })
    </script>
}