@model ShopCartVM



<div class="shopping-cart">
    <div class="shopping-group">
        <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-inline-block">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-bolder">購物車</li>
                <li class="breadcrumb-item">填寫資料與付款</li>
                <li class="breadcrumb-item active" aria-current="page">訂購完成</li>
            </ol>
        </div>
        <div class="list">
            <h3 class="fw-bolder">購物車</h3>
            <div class="empty-cart justify-content-center d-flex flex-column p-5 align-items-center d-none">
                <img src="https://cdn.kkday.com/pc-web/assets/img/empty_state/shopping_cart.svg">
                <span>您的購物車是空的</span>
                <a href="~/Home/Index" class="btn">跟著Today一起探索世界</a>
            </div>

            <div class="modal fade" id="deleteCard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog px-3">
                    <div class="modal-content px-2 pb-3">
                        <div class="modal-header border-bottom-0">
                            <h5 class="fw-bolder fs-4" id="exampleModalLabel">刪除商品</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start py-3 border-bottom-0">
                            您確定要刪除所選商品嗎？
                        </div>
                        <div class="modal-footer border-top-0">
                            <button type="button" class="btn btn btn-light" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary footer-delete">刪除</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                @foreach (var cart in Model.ShopCartCardList)
                {
                    <div class="item d-flex flex-row createShopCard px-3 px-md-4">
                        <div class="check-control m-0 ps-0 pe-3">
                            <label class="form-check-label" for="commodity-control">
                            </label>
                            <input class="form-check-input commodity-control" checked="" type="checkbox" id="commodity-control" value="@cart.ShoppingCartId">
                        </div>
                        <div class="card p-0 m-0 row-cols-auto flex-grow-1">
                            <span class="product-img col">
                                <img src="@cart.Path">
                            </span>
                            <div class="card-body col p-0 px-2 w-100">
                                <div class="row w-100">
                                    <div class="col-lg-6 m-0">
                                        <a href="~/Product/ProductInfo/@cart.ProductId">
                                            <h4 v-model="CreateCardData.ProductName" class="card-title fw-bolder">@cart.ProductName</h4>
                                        </a>
                                        <p class="card-text p-0">@cart.ProgramTitle</p>
                                    </div>
                                    <div class="col-lg-3 d-flex flex-column flex-lg-row">
                                        <div class="time my-auto">
                                            <span class="d-lg-inline-block text-nowrap">@cart.DepartureDate.GetDateTimeFormats('D')[0].ToString()</span>
                                            <span class=" mt-1 m-0 p-0">時間: @cart.ScreenTime</span>
                                        </div>
                                        <span class="text-nowrap flex-grow-1 my-auto py-1">@(cart.UnitText)x@(cart.Quantity)</span>
                                    </div>
                                    <div class="col-lg-3 text-end d-lg-flex flex-lg-nowrap  justify-content-between">
                                        <span class=" fw-bold text-nowrap m-auto pb-lg-0 pb-2">TWD <span class="price">@cart.Sum</span></span>
                                        <i class="@(cart.Favorite == true ? "fa-solid" : "fa-regular") fa-heart m-auto"></i>
                                        <button value="@cart.ShoppingCartId" type="button" class="p-0 m-0 bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#deleteCard">
                                            <i class="fa-regular fa-trash-can ms-2"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>


            <div class="modal fade" id="deleteAllCard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog px-3">
                    <div class="modal-content px-2 pb-3">
                        <div class="modal-header border-bottom-0">
                            <h5 class="fw-bolder fs-4" id="exampleModalLabel">刪除商品</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start py-3 border-bottom-0">
                            您確定要刪除所選商品嗎？
                        </div>
                        <div class="modal-footer border-top-0">
                            <button type="button" class="btn btn btn-light" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary footer-delete">刪除</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkout d-none">
                <div class="check-control">
                    <input class="form-check-input input" checked="" type="checkbox" id="checkout-control" value=""
                           aria-label="...">
                    <label class="form-check-label" for="checkout-control" value=""></label>
                    <span>
                        <button type="button" class="p-0 m-0 bg-transparent border-0 footer-allDelete" data-bs-toggle="modal" data-bs-target="#deleteAllCard">刪除已選項目</button>
                    </span>
                </div>
                <div class="caculate m-0">
                    <div class="total mb-3">
                        <span class="text-end"></span>
                        <span class=" fw-bolder mt-2">TWD @Model.ShopCartCardList.Select(s =>s.Sum).Sum()</span>
                    </div>
                    <a class="caculate-input fw-bolder mb-3 mx-3">前往結帳</a>
                </div>
            </div>
        </div>

        <a href="~/Home/Index">繼續購物<i class="fa-solid fa-angle-right"></i></a>


        <div class="reconfirmation p-0">
            <h3 class="fw-bolder">須重新確認的商品</h3>
            <div class="container">
                @foreach (var confirm in Model.ShopCartCardList)
                {
                    <div class="item d-flex flex-row">
                        <div class="card">
                            <a href="#">
                                <img src="@confirm.Path">
                            </a>
                            <div class="card-body px-2 mt-0">
                                <div class="row">
                                    <div class="col-lg-6 m-0">
                                        <a href="#">
                                            <h4 class="card-title fw-bolder">@confirm.ProductName</h4>
                                        </a>
                                        <p class="card-text p-0">@confirm.ProgramTitle</p>
                                    </div>
                                    <div class="col-lg-3 d-flex flex-column flex-lg-row">
                                        <div class="time">
                                            <span class="d-lg-inline-block lh-base">@confirm.DepartureDate.GetDateTimeFormats('D')[0].ToString()</span>
                                            <span class=" mt-1 m-0 p-0">時間: @confirm.ScreenTime</span>
                                        </div>
                                        <span class="text-nowrap d-inline-block">@(confirm.UnitText)x@(confirm.Quantity)</span>
                                    </div>
                                    <div class="col-lg-3 text-end d-lg-flex align-items-start">
                                        <div class="sold-out text-start">
                                            <span class="fw-bold lh-base text-lg-center">商品已售罄</span>
                                            <span class="mt-2 text-lg-start d-block text-start ">請重新選擇商品</span>
                                        </div>
                                        <i class="fa-regular fa-heart"></i>


                                        <button type="button" class="p-0 m-0 bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="fa-regular fa-trash-can ms-2"></i>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @*<div class="item d-flex flex-row">
                <div class="card">
                <a href="#">
                <img src="https://picsum.photos/650/400/?random=13">
                </a>
                <div class="card-body px-2 mt-0">
                <div class="row">
                <div class="col-lg-6 m-0">
                <a href="#">
                <h4 class="card-title fw-bolder">台北喜來登大飯店餐券｜十二廚 Kitchen 12｜須自行電話訂位</h4>
                </a>
                <p class="card-text p-0">台北喜來登酒店十二廚平日自助式午或晚餐券 ｜須自行電話訂位</p>
                </div>
                <div class="col-lg-3 d-flex flex-column flex-lg-row">
                <div class="time">
                <span class="d-lg-inline-block lh-base">2022-06-17</span>
                <span class=" mt-1 m-0 p-0">時間: 10:40</span>
                </div>
                <span class="text-nowrap d-inline-block">人數x2</span>
                </div>
                <div class="col-lg-3 text-end d-lg-flex align-items-start">
                <div class="sold-out text-start">
                <span class="fw-bold lh-base text-lg-center">商品已售罄</span>
                <span class="mt-2 text-lg-start d-block text-start ">請重新選擇商品</span>
                </div>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-trash-can ms-2"></i>
                </div>
                </div>
                </div>
                </div>
                </div>*@
            </div>

            <div class="remove">
                <a href="#" class="text-decoration-none text-black"><span><i class="fa-regular fa-trash-can mx-2"></i>全部移除</span></a>
            </div>

        </div>


    </div>
</div>


<section class="cart-recommend">
    <div class="recommend-products">
        <h3 class="fw-bolder mb-3">多數旅客還買了以下商品</h3>
        <div class="container-xxl p-0 m-0">
            <div class="row">
                <div class="card bg-transparent border-0 mb-3">
                    <a href="#" class="text-decoration-none">
                        <div>
                            <img src="https://picsum.photos/300/200/?random=23" class="w-100">
                            <span class="city card-img-overlay text-light fw-bolder">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                所有城市<i class="fa-solid fa-heart ms-auto"></i>
                            </span>
                        </div>
                        <div class="card-body px-0">
                            <h4 class="card-title fw-bolder">有點秋食物工作室｜達克罐罐彩虹甜點組合｜台灣本島配送</h4>
                            <p class="score"><i class="fa-solid fa-star"></i>5.0 (2) | 100+個已訂購</p>
                            <div class="card-footer border-0 px-0">
                                <span class="d-block mt-4">TWD <strong class="fw-bold">580</strong></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card bg-transparent border-0 mb-3">
                    <a href="#" class="text-decoration-none">
                        <div>
                            <img src="https://picsum.photos/300/200/?random=32" class="w-100">
                            <span class="city card-img-overlay text-light fw-bolder">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                所有城市<i class="fa-solid fa-heart ms-auto"></i>
                            </span>
                        </div>
                        <div class="card-body px-0">
                            <h4 class="card-title fw-bolder">有點秋食物工作室｜達克罐罐彩虹甜點組合｜台灣本島配送</h4>
                            <p class="score"><i class="fa-solid fa-star"></i>5.0 (2) | 100+個已訂購</p>
                            <div class="card-footer border-0 px-0">
                                <span class="d-block mt-4">TWD <strong class="fw-bold">580</strong></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card bg-transparent border-0 mb-3">
                    <a href="#" class="text-decoration-none">
                        <div>
                            <img src="https://picsum.photos/300/200/?random=33" class="w-100">
                            <span class="city card-img-overlay text-light fw-bolder">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                所有城市<i class="fa-solid fa-heart ms-auto"></i>
                            </span>
                        </div>
                        <div class="card-body px-0">
                            <h4 class="card-title fw-bolder">有點秋食物工作室｜達克罐罐彩虹甜點組合｜台灣本島配送</h4>
                            <p class="score"><i class="fa-solid fa-star"></i>5.0 (2) | 100+個已訂購</p>
                            <div class="card-footer border-0 px-0">
                                <span class="d-block mt-4">TWD <strong class="fw-bold">580</strong></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card bg-transparent border-0 mb-3">
                    <a href="#" class="text-decoration-none">
                        <div>
                            <img src="https://picsum.photos/300/200/?random=33" class="w-100">
                            <span class="city card-img-overlay text-light fw-bolder">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                所有城市<i class="fa-solid fa-heart ms-auto"></i>
                            </span>
                        </div>
                        <div class="card-body px-0">
                            <h4 class="card-title fw-bolder">有點秋食物工作室｜達克罐罐彩虹甜點組合｜台灣本島配送</h4>
                            <p class="score"><i class="fa-solid fa-star"></i>5.0 (2) | 100+個已訂購</p>
                            <div class="card-footer border-0 px-0">
                                <span class="d-block mt-4">TWD <strong class="fw-bold">580</strong></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card bg-transparent border-0 mb-3">
                    <a href="#" class="text-decoration-none">
                        <div>
                            <img src="https://picsum.photos/300/200/?random=33" class="w-100">
                            <span class="city card-img-overlay text-light fw-bolder">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                所有城市<i class="fa-solid fa-heart ms-auto"></i>
                            </span>
                        </div>
                        <div class="card-body px-0">
                            <h4 class="card-title fw-bolder">有點秋食物工作室｜達克罐罐彩虹甜點組合｜台灣本島配送</h4>
                            <p class="score"><i class="fa-solid fa-star"></i>5.0 (2) | 100+個已訂購</p>
                            <div class="card-footer border-0 px-0">
                                <span class="d-block mt-4">TWD <strong class="fw-bold">580</strong></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card bg-transparent border-0 mb-3">
                    <a href="#" class="text-decoration-none">
                        <div>
                            <img src="https://picsum.photos/300/200/?random=33" class="w-100">
                            <span class="city card-img-overlay text-light fw-bolder">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                所有城市<i class="fa-solid fa-heart ms-auto"></i>
                            </span>
                        </div>
                        <div class="card-body px-0">
                            <h4 class="card-title fw-bolder">有點秋食物工作室｜達克罐罐彩虹甜點組合｜台灣本島配送</h4>
                            <p class="score"><i class="fa-solid fa-star"></i>5.0 (2) | 100+個已訂購</p>
                            <div class="card-footer border-0 px-0">
                                <span class="d-block mt-4">TWD <strong class="fw-bold">580</strong></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card bg-transparent border-0 mb-3">
                    <a href="#" class="text-decoration-none">
                        <div>
                            <img src="https://picsum.photos/300/200/?random=33" class="w-100">
                            <span class="city card-img-overlay text-light fw-bolder">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                所有城市<i class="fa-solid fa-heart ms-auto"></i>
                            </span>
                        </div>
                        <div class="card-body px-0">
                            <h4 class="card-title fw-bolder">有點秋食物工作室｜達克罐罐彩虹甜點組合｜台灣本島配送</h4>
                            <p class="score"><i class="fa-solid fa-star"></i>5.0 (2) | 100+個已訂購</p>
                            <div class="card-footer border-0 px-0">
                                <span class="d-block mt-4">TWD <strong class="fw-bold">580</strong></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card bg-transparent border-0 mb-3">
                    <a href="#" class="text-decoration-none">
                        <div>
                            <img src="https://picsum.photos/300/200/?random=33" class="w-100">
                            <span class="city card-img-overlay text-light fw-bolder">
                                <i class="fa-solid fa-location-dot me-1"></i>
                                所有城市<i class="fa-solid fa-heart ms-auto"></i>
                            </span>
                        </div>
                        <div class="card-body px-0">
                            <h4 class="card-title fw-bolder">有點秋食物工作室｜達克罐罐彩虹甜點組合｜台灣本島配送</h4>
                            <p class="score"><i class="fa-solid fa-star"></i>5.0 (2) | 100+個已訂購</p>
                            <div class="card-footer border-0 px-0">
                                <span class="d-block mt-4">TWD <strong class="fw-bold">580</strong></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <button type="button"><i class="fa-solid fa-angle-left"></i></button>
        <button type="button"><i class="fa-solid fa-angle-right"></i></button>
    </div>
</section>

@section topCSS{
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/ShopCart.css">
    <link rel="stylesheet" href="~/css/root.css">
}

@section endJS{
    

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    


    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.7/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>


    <script src="~/js/shopcart.js"></script>
 }

